.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    position: relative;
  } */

.form {
  background: #fff;
  padding: 2rem 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.back-button-container {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  margin-top: auto;
}

.button-back {
  color: #fff;
  background-color: #94a5af;
  margin: 1rem auto;
}

.button-back:hover {
  background-color: #82949f;
}
