.countdown-container {
  text-align: center;
  font-family: Arial, sans-serif;

  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}

.date-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.countdown-timer {
  font-size: 32px;
  font-weight: bold;
  color: #d9534f;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.countdown-labels {
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5px;
}
