.main-content-upload {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.form-upload {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: left;
  justify-content: center;
}

input {
  width: 94%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-removeimage {
  background-color: #f9ae65;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0px;
  font-size: 1rem;
  transition: background 0.3s;
}

.button-removeimage:hover {
  background-color: #e79a51;
}

.button-upload {
  background-color: #67b6df;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0px;
  font-size: 1rem;
  transition: background 0.3s;
}

.button-upload:hover {
  background-color: #519fca;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.upload-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}
