.main-content-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.form-login {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: left;
  justify-content: center;
}

input {
  width: 94%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-login {
  background-color: #67b6df;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0px;
  font-size: 1rem;
  transition: background 0.3s;
}

.button-login:hover {
  background-color: #519fca;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.p-NotAMemberYet {
  margin-top: 1rem;
  font-size: 1rem;
  color: #666;
}

.button-register {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  justify-content: right;
  margin: auto;
  font-size: 1rem;
}
