/* .home-container {
  font-family: 'Cormorant Garamond', serif;
} */

.main-content {
  background-color: white;
}

.painting-card {
  transition: transform 0.3s ease;
}

.painting-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.countdown-stepbar {
  display: flex;
  align-items: center;
}

/* Mobile Ansicht: Bild über den Infos */
@media (max-width: 760px) {
  .countdown-stepbar {
    display: contents;
    align-items: center;
  }
}
