.app-container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  font-size: 2rem;
  /* position: fixed; */
  /* background-color: white; */
}
.main-content {
  /* padding-top: 12rem; */
}
.navbar .link {
  text-decoration: none;
  color: black;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.right-part {
  padding: 3vw;
}

.left-part {
  padding: 3vw;
}

.logo {
  display: block;
  width: 30vw !important;
  max-width: 600px !important;
  min-width: 150px !important;
  height: auto !important;
  object-fit: contain !important;
  padding: 1rem 1rem 1rem 1rem !important;
}

.mobile-menu .link {
  font-size: 1.5rem;
  margin: 5px;
  text-decoration: none;
  color: black;
  text-align: center;
}

/* .mobile-menu .link {
  font-size: 1.5rem;
  margin: 5px;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
} */

/* .mobile-menu .link:hover {
  color: rgb(63, 62, 62);
  background-color: #ffffff;
} */

.navbar-mobile {
  display: none;
}

/* @media (max-width: 760px) {
  .logo {
    display: none;
  }
} */

/* Mobile Ansicht: Bild über den Infos */
@media (max-width: 760px) {
  .navbar {
    display: none;
  }

  .navbar-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    width: 30px;
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
  }

  .navbar-mobile {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background: white;
    color: black;
  }

  .mobile-menu .link:hover {
    color: rgb(63, 62, 62);
    background-color: #ffffff;
  }
}
