body {
  font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* background-color: #f7eee6ea; */
  color: #000000;
}

.cormorant-garamond-regular {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-regular-italic {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: italic;
}

.button-back {
  background-color: #fba94b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 23rem;
  font-size: 1rem;
  align-items: center;
  /* margin: auto; */
}
