.about-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.about-container {
  width: 80%;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #444;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin: 5px 0;
}

.about-body-p {
  font-size: 1.4rem;
  font-weight: 500;
}

.about-body-ul {
  font-size: 1.2rem;
  font-weight: 500;
}

.about-h1 {
  font-size: 2.3rem;
}

.about-h2 {
  font-size: 1.4rem;
}
